<div class="jumbotron text-center">
    <h1 class="display-3"></h1>
    <h1>Welcome</h1>
    <p class="lead">Get or add the latest news!</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add the latest news</a>
</div>